@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular-webfont.015d4426.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  box-sizing: border-box;
  background-image: url("Header-image.618af3b9.jpg");
  background-position: center;
  background-size: cover;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  column-gap: 20px;
  height: 100vh;
  padding: 24px 20px 40px;
  display: grid;
}

@media (width >= 744px) {
  .header {
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    padding: 32px 72px 64px;
  }
}

@media (width >= 1260px) {
  .header {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
    padding: 32px 120px 64px;
  }
}

.header__waves {
  grid-column: 1 / 3;
  align-self: end;
  margin-bottom: 16px;
}

@media (width >= 744px) {
  .header__waves {
    grid-column: 1 / 7;
    width: 63px;
    height: 76px;
  }
}

.header__title {
  grid-column: 1 / 3;
}

@media (width >= 744px) {
  .header__title {
    grid-column: 1 / 5;
  }
}

@media (width >= 1260px) {
  .header__title {
    grid-column: 1 / 7;
  }
}

.menu {
  box-sizing: border-box;
  background-color: #e8eff9;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 24px 20px 40px;
  transition: all .5s;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
}

@media (width >= 744px) {
  .menu {
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    padding: 32px 72px 64px;
  }
}

@media (width >= 1260px) {
  .menu {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
    padding: 32px 120px 64px;
  }
}

.menu:target {
  transform: translateX(0);
}

.nav {
  grid-column: 1 / 3;
}

.nav__list {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav__list--tel {
  color: #292929;
  letter-spacing: 2px;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}

.nav__list--tel:before {
  content: "+1 234 555-55-55";
  opacity: 0;
  margin-right: 8px;
  transition: all .5s;
}

@media (width >= 1260px) {
  .nav__list--tel:hover:before {
    opacity: 1;
  }
}

.nav__item {
  align-items: center;
  gap: 32px;
  display: flex;
}

@media (width >= 744px) {
  .nav {
    grid-column: 1 / 7;
  }
}

@media (width >= 1260px) {
  .nav {
    grid-column: 1 / 12;
  }
}

.navigation {
  grid-column: 1 / 3;
}

@media (width >= 744px) {
  .navigation {
    grid-column: 1 / 7;
  }
}

@media (width >= 1260px) {
  .navigation {
    align-self: center;
  }
}

.navigation__item {
  margin-top: 32px;
}

.navigation__phone {
  margin-top: 40px;
}

.navigation__call {
  margin-top: 16px;
}

.navigation__link {
  color: #292929;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all .5s;
}

.navigation__link:hover {
  border-bottom: 1px solid #292929;
  padding-bottom: 8px;
}

.navigation__link--phone {
  font-size: 16px;
  line-height: 27px;
}

.navigation__link--call {
  letter-spacing: 2px;
  border-bottom: 1px solid #292929;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
}

.logo {
  width: 125px;
  height: 16px;
}

@media (width >= 744px) {
  .logo {
    width: 188px;
    height: 24px;
  }

  .icon-waves {
    width: 63px;
    height: 76px;
  }

  .icon-phone {
    width: 32px;
  }
}

.icon-burger {
  background-size: cover;
  width: 32px;
  height: 32px;
  display: block;
}

.icon-burger:before {
  content: "";
  background-image: url("Icon-Burger-menu.7505a042.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  display: block;
}

.icon-burger:after {
  content: "";
  background-image: url("Icon-Burger-menu-hover.4bbe2ce8.svg");
  background-size: cover;
  width: 32px;
  height: 32px;
  display: none;
}

.icon-burger:hover:before {
  display: none;
}

.icon-burger:hover:after {
  display: block;
}

.title {
  color: #292929;
  letter-spacing: -1.5px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

@media (width >= 744px) {
  .title {
    font-size: 40px;
  }
}

@media (width >= 1260px) {
  .title {
    font-size: 48px;
  }
}

.title--primary {
  text-align: left;
  font-style: italic;
  font-weight: 800;
}

.title--name {
  color: #292929;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.title--left {
  text-align: left;
}

.title--contact {
  color: #9fadc2;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.paragraph {
  color: #292929;
  font-size: 16px;
  line-height: 140%;
}

.paragraph--bold {
  font-weight: 700;
}

.main {
  box-sizing: border-box;
  background-color: #fff;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  column-gap: 20px;
  padding: 64px 20px 96px;
  display: grid;
}

@media (width >= 744px) {
  .main {
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
    padding: 120px 72px;
  }
}

@media (width >= 1260px) {
  .main {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
    padding: 120px;
  }
}

.main__section {
  margin-top: 96px;
}

@media (width >= 744px) {
  .main__section {
    margin-top: 120px;
  }
}

.section {
  grid-column: 1 / 3;
  justify-content: center;
  display: grid;
}

@media (width >= 744px) {
  .section {
    grid-column: 1 / 7;
    justify-self: center;
    column-gap: 24px;
  }
}

@media (width >= 1260px) {
  .section {
    grid-column: span 12;
    justify-self: center;
    column-gap: 24px;
  }
}

.section__title {
  margin-bottom: 24px;
}

.section__title--bottom {
  margin-bottom: 32px;
}

.section__article {
  padding-top: 40px;
}

.section__button {
  margin: 40px auto 0;
}

@media (width >= 1260px) {
  .container {
    gap: 24px;
    display: flex;
  }
}

.recommended__photo {
  margin-top: 40px;
}

.recommended__name {
  margin-top: 32px;
}

.recommended__paragraph, .recommended__paragraph--margin {
  margin-top: 8px;
}

.recommended__price {
  margin-top: 12px;
}

.button {
  color: #fff;
  text-align: center;
  background: #292929;
  border: none;
  border-radius: 40px;
  width: 288px;
  height: 56px;
  padding: 0 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  transition: background-color .5s;
}

@media (width >= 744px) {
  .button {
    width: 288px;
  }
}

@media (width >= 1260px) {
  .button {
    width: 411px;
  }
}

.button:hover {
  color: #292929;
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #292929;
}

.button:active {
  color: #fff;
  background: #292929;
}

.products__pictures {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  display: grid;
}

@media (width >= 744px) {
  .products__pictures {
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
  }
}

@media (width >= 1260px) {
  .products__pictures {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}

.products__name {
  margin-top: 16px;
}

.photo {
  grid-column: span 1;
}

@media (width >= 744px) {
  .photo {
    height: 184px;
  }
}

@media (width >= 1260px) {
  .photo {
    height: 324px;
  }
}

@media (width >= 744px) {
  .photo--big {
    grid-column: span 4;
  }
}

@media (width >= 1260px) {
  .photo--big {
    grid-column: span 8;
  }
}

@media (width >= 744px) {
  .photo--small {
    grid-column: span 2;
  }
}

@media (width >= 1260px) {
  .photo--small {
    grid-column: span 4;
  }
}

.photo__images {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.photo__images:hover {
  transform: scale(1.05);
}

@media (width >= 744px) {
  .benefits {
    grid-column: 2 / 3;
  }
}

@media (width >= 1260px) {
  .benefits {
    grid-column: 11 / 12;
  }
}

.benefits__paragraph {
  margin-bottom: 8px;
}

.information {
  display: grid;
}

@media (width >= 744px) {
  .information {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
}

@media (width >= 1260px) {
  .information {
    column-gap: 198px;
  }
}

@media (width >= 744px) {
  .contact {
    grid-column: 1 / 2;
  }
}

.contact__input {
  margin-bottom: 16px;
}

.contact__button {
  margin-top: 32px;
}

.form__label:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.input {
  box-sizing: border-box;
  transition: .5 all;
  color: #292929;
  background-color: #f8f8fa;
  border: none;
  width: 288px;
  padding: 14px 16px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

@media (width >= 1260px) {
  .input {
    width: 411px;
  }
}

.input::placeholder {
  color: #7e7e83;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.input--border {
  border-radius: 16px;
}

.input:hover {
  outline: 1px solid #d5d7de;
}

.input:focus {
  outline: 1px solid #292929;
}

.input--textarea {
  border-radius: 16px;
  gap: 10px;
  height: 148px;
}

@media (width >= 744px) {
  .address {
    grid-column: 2 / 3;
  }
}

.address__info {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.address--style {
  margin-top: 24px;
}

.address__link {
  text-decoration: none;
}

.address__caption {
  font-style: normal;
}

.address__caption:hover {
  color: #9fadc2;
}

.footer {
  object-fit: cover;
  background-image: url("Footer-image.2005ea8a.jpg");
  background-size: cover;
  height: 200px;
}

@media (width >= 744px) {
  .footer {
    height: 400px;
  }
}

@media (width >= 1260px) {
  .footer {
    height: 460px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

/*# sourceMappingURL=index.4ee4707b.css.map */
